@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300;400;500;600;700;800&family=Forum&family=Montserrat:wght@100;200;300;500;600;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #201D34;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.title {
  color: #FFF;
  font-family: "Nanum Myeongjo";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
}

.select {
  background-color: transparent;
  font-family: Faustina;
  color: white;
  border-color: #FFF;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  margin-left: auto;
}

select option {
  font-family: Faustina;
  background: none;
}

.bar {
  display: flex;
  align-items: center;
}

.profile {
  background-color: #d9d9d9;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 40px;
  margin: 20px;
}

.home {
  display: flex;
  height: max-content;
  align-items: center;
  width: 90%;
}

.home--text {
  color: #FFF;
  font-family: 'Faustina';
  word-wrap: break-word;
  padding: 20px;
  margin-left: 5%;
  font-size: 50px;
  width: 450px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.threed-coin {
  width: 700px;
  min-width: 550px;
  height: 550px;
  background-color: rgb(217, 217, 217);
  margin-left: auto;
}

.search--bar {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  display: block;
  box-shadow: 0 0 20px #a65dff;
  width: 90%;
  color: #FFF;
  margin: 100px auto;
  font-family: 'Faustina';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 740px) {
  .header {
    white-space: nowrap;
    min-width: 740px;
    overflow-x: auto;
  }
}